.contact {
  width: 50%;
  margin: 10% auto;
}
.contact h1 {
  font-weight: 600;
  font-size: 2.2em;
  line-height: 44px;
  color: #101828;
}
.contact p {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 30px;
  margin-bottom: 7px;
}
/* form styles */
form {
  /* height: 474px; */
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
form > div{
    margin-bottom: 15px;
}
label {
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.2em;
  color: #344054;
  margin-bottom: 3px;
}
input {
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16 24 40 0.05);
  border-radius: 8px;
}
textarea {
  padding: 12px 14px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16 24 40 0.05);
  border-radius: 8px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.names {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  
}
.names div {
  width: 50%;
}
.names div:first-child(div){
    margin-bottom: 15px;
}
.agree {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.agree input {
  width: 20px;
  height: 20px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
}
.agree p {
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #475467;
}


.btn button {
  width: 100%;
  padding: 12px 20px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}

@media only screen and (max-width: 700px){
    .contact {
        width: 90%;
        margin: 20% auto;
      }
    form{
        /* border: 1px solid; */
    }
    .names {
        flex-direction: column;
    }
    .names div{
        width: 100%;
    }
    
}